body {
    margin: 2vh;
    background: #011f4b;
    color: #b3cde0;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: "Momo Trust Display", sans-serif;
}
.left-side {
    padding-right: 70px;
    margin-top: 25vh;
}
h1 {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Momo Trust Display", sans-serif;
}

/* This is editing the list */
.todo-list {
    width: 100%;
    max-width: 400px;
    background: #03396c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px #ffffff(1,1,1,1);
    margin-bottom: 20px;
}


/* input and button */
input {

    padding: 0.75em;
    border: 1px solid #03396c;
    background-color: #03396c;
    color: #b3cde0;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: #6497b1;
    color: #03396c;
    cursor: pointer;
}

/* Todo list items */
ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #b3cde0;
}

li span.done {
    text-decoration: line-through;
    color: #b3cde0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #6497b1;
}

@media screen and (max-width: 975px) {
    .wrapper {
        display: block;
    }
    .left-side {
        margin: 0 auto;
        padding: 0;
        max-width: 390px;

    }
    .todo-list {
        margin: 5vw auto;
    }
    input[type="text"] {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 1em;
    }
    form > div {
        display: inline-block;
    }
    form button {
        display: block;
        margin-top: 1em;
    }
}